<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpErrors existingResponse="PassThrough" />
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <!--
      By default IIS will block requests going to the bin directory for security reasons.
      We need to disable this since that's where Express has put the application entry point.
    -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <handlers>
      <!-- Indicates that the www file is a node.js entry point -->
      <add name="iisnode" path="bin/www" verb="*" modules="iisnode"/>
    </handlers>
    <iisnode
      watchedFiles="*.js;lib/*.js;routes/*.js;views/*.ejs;bin/www"
      nodeProcessCountPerApplication="0" />
    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^bin\/www\/debug[\/]?" />
        </rule>

        <!--
          If this app is in the root, use this
        -->
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}"/>
        </rule>

        <!--
          If this app is in a virtual directory, then use this one
         -->
        <!--
        <rule name="StaticContent">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_URI}" matchType="Pattern" pattern="^/[^/]+/(.*)" negate="false" />
          </conditions>
          <action type="Rewrite" url="public/{R:1}"/>
        </rule>
        -->

        <!-- All other URLs are mapped to the node.js entry point -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
          </conditions>
          <action type="Rewrite" url="bin/www"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>