
.breadCrumbs {
	position: absolute;
	top:59px;
	margin:10px 20px;
}
.screenContainer {
	top: 89px;
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	margin: 10px 20px 20px 20px;
}

tr.taskRow ~ tr.assignmentRow {display:none}

.ui.table>thead>tr>th.delete, .ui.table>tbody>tr>td.delete {width:80px;text-align:center}
td.delete>i {opacity: 0.5}
td.delete>i:hover {opacity: 1}

.ui.table > tbody > tr > td.status {padding-top:unset;padding-bottom:unset}

.ui.calendar > .ui.input > input {max-width:calc(100% - 2rem)}

.screen.discussion .ui.post {width:410px}
.screen.discussion .ui.post {margin-bottom:20px}
.screen.discussion .ui > .name {font-weight: bold;font-size:1.1rem}
.screen.discussion .ui > .datetime {margin-left:10px;font-size:0.8rem;color:#888;}
.screen.discussion .ui > .message {margin-top:5px;}

.screen > .ui.raised.segment {height:100%;overflow:hidden;overflow-y:auto}

.ui.table > tbody > tr.criteriaRow > td.ratingCell {
	padding:0;
	position:relative;
}
.ui.table > tbody > tr.criteriaRow > td.totalPoints {width:80px}
.ui.table > tbody > tr.criteriaRow > td.totalPoints > input {width:50px}

.ui.ratingTable {
	/*position:absolute;
	top:0;
	bottom:0;*/
	height:100%;
}
.ui.table.ratingTable {border:none}
.ui.ratingTable td:not(:last-child) {border-right: 1px dashed rgba(34,36,38,.3)}
.ui.ratingTable .ui.form > .field > textarea {margin-top:5px}
.rubricTotalPoints {float:right;margin-top:5px}

/* Timeline Screen */
.screen.timeline .taskName {
	width:300px;
	position:absolute;
	left:1em;
	top:auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.screen.timeline .tableContainer {
	width:calc(100% - 300px);
	margin-left:300px;
	overflow:auto;
}
.screen.timeline .dateColumn {
	width:50px;
	position:relative;
	text-align:center;
}
.screen.timeline th {height:60px}
.screen.timeline td {height:38px}
.screen.timeline .ui.celled.table > thead > tr > th.taskName {border-top: 1px solid rgba(34,36,38,.15);border-left: 1px solid rgba(34,36,38,.15)}
.screen.timeline .ui.celled.table > tbody > tr > td.taskName {border-left: 1px solid rgba(34,36,38,.15)}
.screen.timeline .ui.celled.table > tbody > tr:last-child > td.taskName {border-bottom: 1px solid rgba(34,36,38,.15)}
.screen.timeline td.dateColumn.start > div {
	background-color: #2185d0;
	position: absolute;
	top: 6px;
	bottom:6px;
	left: 4px;
	right:-1px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	z-index:10
}
.screen.timeline td.dateColumn.through > div {
	background-color: #2185d0;
	position: absolute;
	top: 6px;
	bottom:6px;
	left:0;
	right:-1px;
	z-index:10
}
.screen.timeline td.dateColumn.end > div {
	background-color: #2185d0;
	position: absolute;
	top: 6px;
	bottom:6px;
	left: 0;
	right:4px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}